body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 25px;
}

.main{
  margin-top: 20px;
}

.image-size{
  height: 50px;
  width: 50px;
}

.i-max-width{
  max-width: 80px;
}

.floating-button{
  position:fixed !important;
  right:30px !important;
  bottom:20px !important;
}